<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Dashboard prototype
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your used email: {{usrEmail}}
      </ion-col>
    </ion-row>
  </ion-grid> 

<ion-content>
    <ion-button (click)="generateSwimtime()">Generates swimtime</ion-button>
    <ion-button (click)="sync()">Sync swimtime to Cloud Firestore</ion-button>
    <ion-button (click)="retrieveSwimtimes()">Retrieve swimtimes</ion-button>
    <ion-button (click)="visualiseSwimtimes()">Visualise swimtimes</ion-button>

    <ngx-charts-bar-vertical
      [results]="results"
      [xAxis] = "true"
      [yAxis] = "true"
      [showXAxisLabel] = "true"
      [showYAxisLabel] = "true"
      [xAxisLabel] = "'Email of swimmers'"
      [yAxisLabel] = "'Swimtimes in seconds'">
    </ngx-charts-bar-vertical>

    <!-- <div>
        <ngx-charts-bar-horizontal 
        [xAxis] = "true"
        [yAxis] = "true"
        [results] = "results"
        [showXAxisLabel] = "true"
        [showYAxisLabel] = "true"
        [xAxisLabel] = "'Email of swimmers'"
        [yAxisLabel] = "'Swimtimes in seconds'">
        </ngx-charts-bar-horizontal>
    </div> -->
</ion-content>


<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Logout</ion-title>
  </ion-toolbar>
</ion-footer>